body {
    padding: 0;
    font-family: "Verdana", sans-serif;
    width: 30%;
    margin: 100px auto;
}

section {
    clear: both;
}

h3 {
    text-align: center;
    color: #1D3557;
}

form {
    margin: 2rem auto;
    max-width: 100%;
    background-color: #E63946;
    margin: 2rem auto;
    border: 2px solid;
    padding: 2rem;
}

form p {
    color: #F1FAEE;
}
  
form label {
    color: #F1FAEE;
    display: block;
    padding: 1rem 0 .25rem;
    text-transform: capitalize;
    font-weight: bold;
}
  
form input {
    display: block;
    width: 100%;
    border: 2px solid;
    padding: .5rem;
    border-radius: 5px;
    background-color: #FFF;
}

form p {
    text-align: center;
    font-weight: bolder;
    color: #F1FAEE;
}

#save-button {
    border: 0;
    background: #1D3557;
    padding: .5rem;
    color: #F1FAEE;
    margin: 1rem auto;
    width: auto;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

#save-button:hover {
    background: #0d1b2e;
}
  